In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes = True)
import calendar
from datetime import datetime
import math

In [3]:
weather = pd.read_csv("climate-daily.csv", low_memory = False)

In [4]:
weather.head()

,x,y,TOTAL_PRECIPITATION,SNOW_ON_GROUND,SPEED_MAX_GUST_FLAG,CLIMATE_IDENTIFIER,DIRECTION_MAX_GUST_FLAG,LOCAL_MONTH,TOTAL_SNOW,PROVINCE_CODE,...,MAX_TEMPERATURE_FLAG,STATION_NAME,MIN_TEMPERATURE,COOLING_DEGREE_DAYS,SPEED_MAX_GUST,TOTAL_SNOW_FLAG,SNOW_ON_GROUND_FLAG,TOTAL_PRECIPITATION_FLAG,HEATING_DEGREE_DAYS,MAX_REL_HUMIDITY
0,-79.4,43.666667,NaN,NaN,NaN,6158350,NaN,3,NaN,ON,...,NaN,TORONTO,0.0,0.0,NaN,NaN,NaN,NaN,13.8,NaN
1,-79.4,43.666667,NaN,NaN,NaN,6158350,NaN,3,NaN,ON,...,NaN,TORONTO,1.1,0.0,NaN,NaN,NaN,NaN,13.5,NaN
2,-79.4,43.666667,NaN,NaN,NaN,6158350,NaN,3,NaN,ON,...,NaN,TORONTO,2.2,0.0,NaN,NaN,NaN,NaN,11.3,NaN
3,-79.4,43.666667,NaN,NaN,NaN,6158350,NaN,3,NaN,ON,...,NaN,TORONTO,-3.9,0.0,NaN,NaN,NaN,NaN,12.4,NaN
4,-79.4,43.666667,NaN,NaN,NaN,6158350,NaN,3,NaN,ON,...,NaN,TORONTO,-1.1,0.0,NaN,NaN,NaN,NaN,15.2,NaN

In [5]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62116 entries, 0 to 62115
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   x                         62116 non-null  float64
 1   y                         62116 non-null  float64
 2   TOTAL_PRECIPITATION       60817 non-null  float64
 3   SNOW_ON_GROUND            19824 non-null  float64
 4   SPEED_MAX_GUST_FLAG       0 non-null      float64
 5   CLIMATE_IDENTIFIER        62116 non-null  int64
 6   DIRECTION_MAX_GUST_FLAG   0 non-null      float64
 7   LOCAL_MONTH               62116 non-null  int64
 8   TOTAL_SNOW                60867 non-null  float64
 9   PROVINCE_CODE             62116 non-null  object
 10  MIN_TEMPERATURE_FLAG      9 non-null      object
 11  HEATING_DEGREE_DAYS_FLAG  5 non-null      object
 12  MIN_REL_HUMIDITY          1 non-null      float64
 13  LOCAL_DAY                 62116 non-null  int64
 14  MEAN_TEMPERATURE          59651 non-null  float64
 15  MEAN_TEMPERATURE_FLAG     5 non-null      object
 16  COOLING_DEGREE_DAYS_FLAG  5 non-null      object
 17  MAX_TEMPERATURE           59651 non-null  float64
 18  MIN_REL_HUMIDITY_FLAG     29 non-null     object
 19  MAX_REL_HUMIDITY_FLAG     29 non-null     object
 20  TOTAL_RAIN_FLAG           4966 non-null   object
 21  DIRECTION_MAX_GUST        92 non-null     float64
 22  LOCAL_YEAR                62116 non-null  int64
 23  TOTAL_RAIN                61878 non-null  float64
 24  LOCAL_DATE                62116 non-null  object
 25  ID                        62116 non-null  object
 26  MAX_TEMPERATURE_FLAG      6 non-null      object
 27  STATION_NAME              62116 non-null  object
 28  MIN_TEMPERATURE           59651 non-null  float64
 29  COOLING_DEGREE_DAYS       59651 non-null  float64
 30  SPEED_MAX_GUST            92 non-null     float64
 31  TOTAL_SNOW_FLAG           5099 non-null   object
 32  SNOW_ON_GROUND_FLAG       1674 non-null   object
 33  TOTAL_PRECIPITATION_FLAG  8369 non-null   object
 34  HEATING_DEGREE_DAYS       59651 non-null  float64
 35  MAX_REL_HUMIDITY          1 non-null      float64
dtypes: float64(17), int64(4), object(15)
memory usage: 17.1+ MB

In [12]:
def day_mean(day, month, column, rounded = True):
    ''' finds the mean value of a column on a specific day
        ex. average high temperature on March 7

        arguments:
            day: the numerical day to use, int
            month: the numerical month to use, int
            column: the column on the .csv to sort by (ex. 'MEAN_TEMPERATURE'), string
            rounded: an optional argument to round the averages to two decimal points
                set to true by default, boolean
        
        return:
            the numerical mean on that column and day
        '''

    df_oneday = weather.loc[(weather["LOCAL_MONTH"] == month) & (weather["LOCAL_DAY"] == day)]
    mean_value = df_oneday[column].mean()

    if rounded:
        return round(mean_value, 0)

In [17]:
mean_for_year = {}
months = list(calendar.month_name[1:])
for month in range(1, 13):
    for day in range(1, 32):
        temps_day = day_mean(day, month, "MEAN_TEMPERATURE")
        rain_day = day_mean(day, month, "TOTAL_PRECIPITATION")
        snow_day = day_mean(day, month, "SNOW_ON_GROUND")
        if not math.isnan(temps_day):
            mean_for_year[f"{calendar.month_name[month]} {day}"] = {"MEAN_TEMPERATURE": temps_day, "TOTAL_PRECIPITATION": rain_day, "SNOW_ON_GROUND": snow_day}
pandas_dict = pd.DataFrame(mean_for_year).T
pandas_dict

             MEAN_TEMPERATURE  TOTAL_PRECIPITATION  SNOW_ON_GROUND
January 1                -4.0                  2.0             5.0
January 2                -4.0                  3.0             5.0
January 3                -4.0                  2.0             6.0
January 4                -4.0                  2.0             6.0
January 5                -4.0                  2.0             6.0
...                       ...                  ...             ...
December 27              -3.0                  2.0             5.0
December 28              -3.0                  2.0             5.0
December 29              -4.0                  2.0             5.0
December 30              -4.0                  2.0             5.0
December 31              -4.0                  2.0             5.0

[366 rows x 3 columns]

In [8]:
with pd.option_context('display.max_rows', None,):
    print(pandas_dict)

              MEAN_TEMPERATURE  TOTAL_PRECIPITATION  SNOW_ON_GROUND
January 1                -3.68                 2.20            4.81
January 2                -3.69                 2.57            5.08
January 3                -3.86                 2.08            5.81
January 4                -4.00                 1.71            5.71
January 5                -4.15                 2.25            5.74
January 6                -3.86                 2.12            5.52
January 7                -4.60                 2.09            6.19
January 8                -5.13                 2.32            6.59
January 9                -4.78                 1.96            6.48
January 10               -4.91                 2.20            6.60
January 11               -5.11                 2.36            6.48
January 12               -5.09                 2.05            7.02
January 13               -4.80                 2.09            7.22
January 14               -4.75                 2.55            7.68
January 15               -4.98                 2.18            7.87
January 16               -5.18                 2.04            7.98
January 17               -5.30                 1.96            7.63
January 18               -5.57                 2.10            8.02
January 19               -5.43                 1.70            7.73
January 20               -4.47                 2.23            7.57
January 21               -4.25                 2.11            7.67
January 22               -4.65                 2.48            7.76
January 23               -4.82                 2.09            7.87
January 24               -4.57                 2.82            7.58
January 25               -4.78                 2.16            7.61
January 26               -5.47                 2.54            7.49
January 27               -5.45                 1.94            8.16
January 28               -5.49                 1.65            8.35
January 29               -5.36                 1.58            8.05
January 30               -5.15                 1.83            8.02
January 31               -5.28                 1.92            7.89
February 1               -5.86                 2.19            8.22
February 2               -6.27                 1.94            8.87
February 3               -6.06                 2.28            8.62
February 4               -5.98                 1.73            8.86
February 5               -6.31                 1.94            8.22
February 6               -5.33                 2.15            8.46
February 7               -5.08                 2.01            9.22
February 8               -5.49                 2.14            9.38
February 9               -5.17                 2.02            9.35
February 10              -5.65                 1.78            8.38
February 11              -5.56                 1.94            8.16
February 12              -5.45                 2.08            8.29
February 13              -5.18                 2.87            8.19
February 14              -4.85                 2.88            8.41
February 15              -4.64                 2.21            8.37
February 16              -4.96                 1.67            8.52
February 17              -4.69                 1.74            8.27
February 18              -4.33                 1.75            7.52
February 19              -3.99                 1.78            7.19
February 20              -3.77                 2.14            6.06
February 21              -3.76                 2.53            6.05
February 22              -3.39                 2.46            5.89
February 23              -3.55                 2.17            5.84
February 24              -3.46                 2.01            5.94
February 25              -3.59                 2.47            5.89
February 26              -3.55                 2.34            6.25
February 27              -3.41                 1.79            6.29
February 28              -2.98                 2.39            5.81
February 29              -4.34                 1.65            5.25
March 1                  -2.84                 2.25            5.68
March 2                  -2.65                 1.78            5.84
March 3                  -2.83                 2.39            5.06
March 4                  -2.89                 2.39            5.17
March 5                  -2.56                 2.34            5.70
March 6                  -2.28                 2.36            6.41
March 7                  -2.03                 1.75            6.21
March 8                  -2.06                 2.14            5.60
March 9                  -1.71                 1.96            5.79
March 10                 -2.01                 1.89            5.79
March 11                 -1.49                 1.98            4.71
March 12                 -0.99                 2.22            4.38
March 13                 -0.51                 2.39            4.48
March 14                 -0.71                 2.14            4.42
March 15                 -0.54                 1.90            3.47
March 16                 -0.76                 2.28            2.51
March 17                 -0.75                 1.70            2.46
March 18                 -0.92                 1.82            2.05
March 19                 -0.26                 2.68            1.92
March 20                  0.39                 2.12            1.54
March 21                  0.42                 3.04            1.46
March 22                  0.60                 1.38            1.67
March 23                  1.12                 1.31            1.70
March 24                  1.24                 1.36            1.74
March 25                  1.37                 2.05            1.21
March 26                  1.94                 2.69            1.35
March 27                  2.12                 1.98            1.44
March 28                  2.17                 1.64            0.78
March 29                  2.74                 1.69            0.44
March 30                  3.07                 1.71            0.24
March 31                  2.96                 2.46            0.33
April 1                   3.12                 2.08            0.56
April 2                   3.15                 2.25            0.35
April 3                   3.05                 3.38            0.32
April 4                   3.83                 2.38            0.40
April 5                   3.91                 2.60            0.68
April 6                   4.09                 1.86            0.35
April 7                   4.20                 1.96            0.48
April 8                   4.23                 2.03            0.35
April 9                   4.55                 2.01            0.48
April 10                  4.77                 2.15            0.42
April 11                  5.13                 2.61            0.16
April 12                  5.41                 2.35            0.03
April 13                  5.70                 1.62            0.00
April 14                  6.44                 2.37            0.00
April 15                  6.62                 2.28            0.00
April 16                  6.47                 2.32            0.00
April 17                  7.02                 1.78            0.00
April 18                  7.24                 1.76            0.15
April 19                  7.63                 2.86            0.00
April 20                  7.63                 2.60            0.02
April 21                  7.96                 2.86            0.00
April 22                  8.48                 2.04            0.02
April 23                  8.18                 1.79            0.00
April 24                  8.24                 1.78            0.00
April 25                  8.43                 2.46            0.00
April 26                  8.95                 1.83            0.09
April 27                  8.78                 1.55            0.00
April 28                  8.91                 2.34            0.00
April 29                  9.42                 2.13            0.00
April 30                  9.77                 2.03            0.00
May 1                     9.50                 2.49            0.06
May 2                     9.50                 2.20            0.00
May 3                     9.53                 1.53            0.00
May 4                    10.37                 1.92            0.00
May 5                    10.83                 1.98            0.00
May 6                    11.20                 2.08            0.00
May 7                    11.05                 2.27            0.00
May 8                    11.19                 2.22            0.00
May 9                    11.83                 2.55            0.00
May 10                   11.63                 3.18            0.00
May 11                   11.53                 2.79            0.00
May 12                   11.75                 2.09            0.00
May 13                   11.91                 2.09            0.00
May 14                   11.84                 2.21            0.00
May 15                   12.25                 2.95            0.00
May 16                   12.55                 3.46            0.00
May 17                   12.46                 2.90            0.00
May 18                   12.98                 2.10            0.00
May 19                   13.22                 2.90            0.00
May 20                   13.56                 2.65            0.00
May 21                   13.53                 2.43            0.00
May 22                   14.03                 2.80            0.00
May 23                   14.01                 1.93            0.00
May 24                   14.20                 2.08            0.00
May 25                   14.43                 2.58            0.00
May 26                   14.50                 2.19            0.00
May 27                   14.66                 2.00            0.00
May 28                   14.95                 1.82            0.00
May 29                   14.94                 1.77            0.00
May 30                   15.00                 1.88            0.00
May 31                   15.71                 3.14            0.00
June 1                   15.64                 2.72            0.00
June 2                   15.88                 2.48            0.00
June 3                   16.08                 1.91            0.00
June 4                   16.28                 2.16            0.00
June 5                   16.35                 2.90            0.00
June 6                   16.66                 1.83            0.00
June 7                   16.39                 2.38            0.00
June 8                   16.57                 2.20            0.00
June 9                   17.06                 2.14            0.00
June 10                  17.12                 2.63            0.00
June 11                  17.38                 2.87            0.00
June 12                  17.42                 1.79            0.00
June 13                  17.63                 2.43            0.00
June 14                  17.97                 1.36            0.00
June 15                  18.11                 2.22            0.00
June 16                  18.12                 2.39            0.00
June 17                  18.05                 2.57            0.00
June 18                  18.45                 2.27            0.00
June 19                  18.99                 2.71            0.00
June 20                  18.94                 1.90            0.00
June 21                  19.11                 2.49            0.00
June 22                  19.04                 2.28            0.00
June 23                  18.96                 2.72            0.00
June 24                  19.50                 1.87            0.00
June 25                  19.99                 2.01            0.00
June 26                  20.24                 2.11            0.00
June 27                  20.26                 2.05            0.00
June 28                  20.26                 2.99            0.00
June 29                  20.27                 2.92            0.00
June 30                  20.28                 1.72            0.00
July 1                   20.10                 2.57            0.00
July 2                   20.17                 1.21            0.00
July 3                   20.20                 1.68            0.00
July 4                   20.40                 3.32            0.00
July 5                   20.56                 1.85            0.00
July 6                   20.58                 1.85            0.00
July 7                   21.01                 2.53            0.00
July 8                   21.35                 2.02            0.00
July 9                   21.43                 2.64            0.00
July 10                  21.14                 1.80            0.00
July 11                  20.88                 2.24            0.00
July 12                  21.09                 2.71            0.00
July 13                  21.40                 2.40            0.00
July 14                  21.27                 2.25            0.00
July 15                  21.26                 3.58            0.00
July 16                  21.36                 1.97            0.00
July 17                  21.55                 3.29            0.00
July 18                  21.66                 2.72            0.00
July 19                  21.32                 2.45            0.00
July 20                  21.05                 2.44            0.00
July 21                  21.25                 2.23            0.00
July 22                  21.40                 2.83            0.00
July 23                  21.41                 2.51            0.00
July 24                  21.30                 2.32            0.00
July 25                  21.42                 2.11            0.00
July 26                  21.41                 2.49            0.00
July 27                  21.46                 2.98            0.00
July 28                  21.39                 2.58            0.00
July 29                  21.37                 3.26            0.00
July 30                  21.24                 1.99            0.00
July 31                  20.96                 2.42            0.00
August 1                 20.84                 1.73            0.00
August 2                 20.80                 2.80            0.00
August 3                 20.91                 2.97            0.00
August 4                 20.96                 3.88            0.00
August 5                 20.96                 1.64            0.00
August 6                 20.94                 2.28            0.00
August 7                 21.25                 2.16            0.00
August 8                 21.50                 2.88            0.00
August 9                 21.12                 2.37            0.00
August 10                21.13                 2.17            0.00
August 11                20.76                 2.19            0.00
August 12                20.52                 2.11            0.00
August 13                20.48                 2.94            0.00
August 14                20.56                 1.45            0.00
August 15                20.46                 2.42            0.00
August 16                20.48                 2.35            0.00
August 17                20.37                 1.64            0.00
August 18                20.08                 2.36            0.00
August 19                19.78                 1.73            0.00
August 20                19.84                 2.10            0.00
August 21                19.84                 2.85            0.00
August 22                19.75                 2.09            0.00
August 23                19.50                 3.12            0.00
August 24                19.49                 2.17            0.00
August 25                19.40                 1.05            0.00
August 26                19.56                 1.93            0.00
August 27                19.44                 2.45            0.00
August 28                19.32                 3.14            0.00
August 29                19.34                 2.39            0.00
August 30                19.07                 2.16            0.00
August 31                19.15                 2.49            0.00
September 1              19.09                 2.53            0.00
September 2              19.02                 2.21            0.00
September 3              18.87                 2.31            0.00
September 4              18.92                 1.66            0.00
September 5              18.54                 2.45            0.00
September 6              18.63                 2.40            0.00
September 7              18.09                 1.99            0.00
September 8              17.89                 2.07            0.00
September 9              17.71                 2.59            0.00
September 10             17.58                 2.27            0.00
September 11             17.19                 2.24            0.00
September 12             16.95                 2.63            0.00
September 13             16.56                 3.76            0.00
September 14             16.29                 3.20            0.00
September 15             16.29                 3.21            0.00
September 16             16.06                 2.36            0.00
September 17             15.99                 3.05            0.00
September 18             15.81                 2.74            0.00
September 19             15.60                 2.37            0.00
September 20             15.43                 1.99            0.00
September 21             14.77                 2.11            0.00
September 22             14.59                 2.85            0.00
September 23             14.20                 1.53            0.00
September 24             14.21                 2.75            0.00
September 25             13.99                 2.68            0.00
September 26             13.68                 1.96            0.00
September 27             13.46                 3.00            0.00
September 28             12.95                 2.35            0.00
September 29             12.77                 3.12            0.00
September 30             12.57                 2.50            0.00
October 1                12.58                 2.46            0.00
October 2                12.55                 1.23            0.00
October 3                12.41                 1.95            0.00
October 4                12.47                 1.82            0.00
October 5                12.09                 2.65            0.00
October 6                11.61                 2.40            0.00
October 7                11.26                 3.00            0.00
October 8                11.12                 1.69            0.00
October 9                10.93                 2.03            0.00
October 10               11.05                 1.51            0.00
October 11               11.05                 1.70            0.00
October 12               10.36                 1.94            0.00
October 13                9.92                 2.58            0.00
October 14                9.87                 1.71            0.00
October 15               10.08                 1.58            0.00
October 16               10.15                 1.65            0.00
October 17                9.59                 3.02            0.00
October 18                9.28                 2.00            0.00
October 19                8.86                 2.32            0.00

In [18]:
sorted_dict = pandas_dict.sort_values(by = ['MEAN_TEMPERATURE', 'TOTAL_PRECIPITATION'], ascending = [False, False])
sorted_dict

             MEAN_TEMPERATURE  TOTAL_PRECIPITATION  SNOW_ON_GROUND
July 17                  22.0                  3.0             0.0
July 18                  22.0                  3.0             0.0
July 15                  21.0                  4.0             0.0
August 4                 21.0                  4.0             0.0
July 7                   21.0                  3.0             0.0
...                       ...                  ...             ...
February 3               -6.0                  2.0             9.0
February 4               -6.0                  2.0             9.0
February 5               -6.0                  2.0             8.0
February 10              -6.0                  2.0             8.0
February 11              -6.0                  2.0             8.0

[366 rows x 3 columns]

In [19]:
print(sorted_dict.iloc[0])

MEAN_TEMPERATURE       22.0
TOTAL_PRECIPITATION     3.0
SNOW_ON_GROUND          0.0
Name: July 17, dtype: float64